<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>component</title>
    <link rel="stylesheet" href="./basic.css">
    <link rel="stylesheet" href="./tocomponent.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="component">
        <div id="comp1">
            <my-component></my-component>
            <local-component></local-component>
        </div>

        <div id="comp2">
            <p>다음 소스 중 하나에 포함되면 문자열 템플릿을 사용하는 경우에는 이러한 제한 사항이 적용되지 않는다.</p>
            <ol>
                <li is="rule-comp" v-for="(rule, index) in rules" :rule="rule" :key="index"></li>
            </ol>
        </div>

        <div id="comp3">
            <counter1></counter1>
            <counter1></counter1>
            <p></p>
            <counter2></counter2>
            <counter2></counter2>
        </div>

        <div id="comp4">
            <passive0 message="정적인 props이다."></passive0>
            <passive1 my-message="HTML 속성은 대소 문자를 구분하지 않으므로 kabab-case, Javascript는 camelCase를 사용"></passive1>
            <input type="text" v-model="message">
            <active :active-message="message"></active>
            <item v-bind="item"></item>
            <!--이 prop는 초기 값을 전달 하는데만 사용되며 하위 컴포넌트는 이후에 이를 로컬 데이터 속성으로 사용하기만 합니다. -->
            <input type="text" v-model.number="initialNumber">
            <counter v-if="initialNumber" :initial-counter="initialNumber"></counter>
            <p></p>
            <!-- prop는 변경되어야 할 원시 값으로 전달됩니다. -->
            <input type="text" v-model="text">
            <origin :text="text"></origin>

            <p>A: <input type="text" v-model.number.lazy="checkNumber"></p>
            <p>B.string: <input type="text" v-model.lazy="checkMulti"></p>
            <p>B.number: <input type="text" v-model.number.lazy="checkMulti"></p>
            <p>C: <input type="text" v-model.lazy="checkString"></p>
            <p>F: <input type="text" v-model.lazy="checkUser"></p>
            <check :prop-a="checkNumber"
                   :prop-b="checkMulti"
                   :prop-c="checkString"
                   :prop-f="checkUser"></check>
        </div>

        <div id="comp5">
            <!-- HTML에서 지정한 clss > template에서 지정한 class -->
            <no-props-input class="textRed overline" disabled></no-props-input>
            <p></p>
            <p>{{ totalCounter }}</p>
            <counter-plus @increase="increaseTotal"></counter-plus>
            <counter-plus @increase="increaseTotal"></counter-plus>
            <!-- .native는 네이티브 이벤트(아마 메소드)를 수신한다고 한다. -->
            <counter-minus @click.native="decreaseTotal"></counter-minus>
            <p></p>
            <!-- .sync를 통해 양방향 데이터 통신을 할 수 있다. 다음은 :initial-counter="initialNumber" @update:value="initialNumber = $event" 이며 이는 자식 컴포넌트로 부터 데이터를 전달받는 것이다.-->
            <input type="text" v-model.number="initialNum">
            <counter-sync :initial-counter.sync="initialNum"></counter-sync>
            <!--
            아래 v-model="number"은
            :value="number" @input="value => number = value" 이다.
            -->
            <p><number v-model="number"></number></p>
            <checkbox v-model="checking" value="check box"></checkbox>
            {{checking}}
        </div>

        <div id="comp6">
            <!--
            부모 템플릿에서 하위 속성/메소드에 디렉티브를 바인딩하지 못한다.
            (여기서 v-show="컴포넌트에 있는 데이터"로 바인딩하고자 하면 오류 뜬다.)
            -->
            <show-correct></show-correct>
            <p></p>
            <single-slot></single-slot>
            <single-slot><p>asdf</p></single-slot>

            <named-slot>
                <h4 slot="header">name이 header인 slot에 들어간다.</h4>
                <p>아무 이름 없는 slot에 들어간다. 없다면 삭제된다.</p>
                <h5 slot="footer">name이 footer인 slot에 들어간다.</h5>
            </named-slot>
            <!--
            재사용 가능하고 template 엘리먼트으로 작동하는 특별한 유형의 슬롯이다.
             slot-scope의 값은 자식으로부터 전달 된 props 객체를 담고있는 임시 변수의 이름을 정하는 것 같다
             -->
            <scope-slot>
                <template slot-scope="props">
                    <p>Parent Message by template</p>
                    <p>{{props.text}}</p>
                    <p>{{props}}</p>
                </template>
            </scope-slot>

            <li-slot :items="items">
                <li
                    slot="item"
                    slot-scope="props">
                    {{props.text}}
                </li>
            </li-slot>
            <!-- 구조 분해(destructuring)을 통해 객체 안의 property를 사용할 수 있다.-->
            <scope-slot>
                <span slot-scope="{ text }">{{ text }}</span>
            </scope-slot>
        </div>

        <div id="comp7">
            <component :is="currentComponent"></component>
            <button @click="currentComponent = 'single-slot'">single</button>
            <button @click="currentComponent = 'named-slot'">named</button>
            <button @click="currentComponent = 'scope-slot'">scope</button>

            <!-- 트랜지션된 컴포넌트를 메모리에 유지하여 상태를 보존하거나 다시 렌더링하지 않게 하기 위해 <keep-alive> 엘리먼트를 사용한다. -->
            <keep-alive>
                <component :is="currentComponent"></component>
            </keep-alive>
        </div>

        <div id="comp8">
            <parent-ref ref="childComp"></parent-ref>

            <async-time></async-time>

        </div>
    </div>
    <a href="slot.html">다음</a>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./tocomponent.js"></script>
</body>
</html>