<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form binding</title>
    <link rel="stylesheet" href="./basic.css">
</head>
<body>
    <div class="formbind">
        <div id="form1">
            <input v-model="message" placeholder="실시간 렌더링">
            <p>메시지: {{ message }}</p>
        </div>

        <div id="form2">
            <span>pre-line 메시지:</span>
            <p style="white-space: pre-line">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="가능"></textarea>
        </div>

        <div id="form3">
            <p>
                <input type="checkbox" id="checkbox" v-model="checked">
                <label for="checkbox">{{checked}}</label>
            </p>
            <input type="checkbox" id="smartphone" value="smartphone" v-model="checkedItems">
            <label for="smartphone">SmartPhone</label>
            <input type="checkbox" id="laptop" value="laptop" v-model="checkedItems">
            <label for="laptop">Laptop</label>
            <input type="checkbox" id="monitor" value="monitor" v-model="checkedItems">
            <label for="monitor">Monitor</label>
            <br>
            <span>아이템: {{checkedItems}}</span>
        </div>

        <div id="form4">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">부먹</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">찍먹</label>
            <br>
            <span>선택: {{ picked }}</span>
        </div>

        <div id="form5">
            <select v-model="selected">
                <option disabled value="">하나를 고르시오</option>
                <option>너</option>
                <option>나</option>
                <option>우리</option>
            </select>
            <span>선택함: {{ selected }}</span>
            <p></p>
            <select v-model="selectmulti" multiple>
                <option>500원</option>
                <option>1000원</option>
                <option>5000원</option>
            </select>
            <span>Selected: {{ selectmulti }}</span>
            <p></p>
            <select v-model="selectFor">
                <option v-for="option in options" :value="option.value">
                    {{ option.message }}
                </option>
            </select>
            <span>Selected: {{ selectFor }}</span>
        </div>

        <div id="form6">
            <input id="togglebox" type="checkbox" v-model="toggle" true-value="yes" false-value="no">
            <label for="togglebox">{{toggle}}</label>
            <p></p>
            <input id="pickA" type="radio" v-model="bindpick" :value="a">
            <label for="pickA">A</label>
            <input id="pickB" type="radio" v-model="bindpick" :value="b">
            <label for="pickB">B</label>
            <p>{{bindpick}}</p>
            <select v-model="selectObject">
                <option :value="{ number: 765 }">765</option>
                <option :value="{ number: 346 }">346</option>
            </select>
            <p>{{selectObject.number}}</p>
        </div>
        
        <div id="form7">
            <input id="lazyText" type="text" v-model.lazy="msg">
            <label for="lazyText">{{msg}}</label>
            <br>
            <input id="numberText" type="text" v-model.number="number">
            <label for="numberText" v-if="isNumber">{{number}}</label>
            <br>
            <input id="trimText" type="text" v-model.trim="message">
            <label for="trimText">{{message}}</label>
        </div>
    </div>
    <a href="ifelse.html">다음</a>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./toformbind.js"></script>
    <link rel="stylesheet" href="./tobinding.css">
</body>
</html>