<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transition</title>
    <link rel="stylesheet" href="./basic.css">
    <link rel="stylesheet" href="./totransition.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- css파일에 자세한게 적혀있다. -->
    <div class="transition">
        <div id="trans1">
            <button @click="show = !show">
                Fade
            </button>
            <transition name="fade">
                <p v-if="show">Tanos</p>
            </transition>
        </div>

        <div id="trans2">
            <button @click="show = !show">
                Fade and Move
            </button>
            <transition name="slide-fade">
                <p v-if="show">Fade</p>
            </transition>
        </div>

        <div id="trans3">
            <button @click="show = !show">Bounce</button>
            <transition name="bounce">
                <p v-if="show">Bouncing!</p>
            </transition>
        </div>

        <link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">

        <div id="trans4">
            <button @click="show = !show">
                Move Fast
            </button>
            <transition
                    name="custom-classes-transition"
                    enter-active-class="animated tada"
                    leave-active-class="animated bounceOutRight"
            >
                <p v-if="show">enter-class, enter-active-class 등 6가지 속성은 다른 CSS 애니메이션 라이브러리와 결합을 용이하게 합니다.</p>
            </transition>
        </div>

        <div id="trans5">
            <button @click="showA = !showA">
                A
            </button>
            <transition name="slide-fade">
                <p v-if="showA">Fade</p>
            </transition>
            <button @click="showB = !showB">
                B
            </button>
            <transition name="slide-fade" :duration="{ enter: 100, leave: 2000 }">
                <p v-if="showB">Fade</p>
            </transition>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>

        <div id="trans6">
            <button @click="show = !show">
                Toggle
            </button>
            <transition
                    v-on:before-enter="beforeEnter"
                    v-on:enter="enter"
                    v-on:leave="leave"
                    v-bind:css="false"
            >
                <!-- CSS 규칙이 방해하는 것을 막기 위해 v-bind:css="false"로 CSS탐지를 건너뛰게 하였다.-->
                <p v-if="show">
                    Used Velocity.js
                </p>
            </transition>
        </div>

        <div id="trans7">
            <button @click="show = !show">
                Fade and Move
            </button>
            <transition name="slide-fade" appear>
                <div v-if="show" key="basic">
                    <p>초기에 트랜지션을 적용하려면 appear속성을 이용한다.</p>
                </div>
                <div v-else key="advance">
                    <p>appear도 사용자정의 트랜지션 클래스(appear-class 등)과 훅(before-appear 등)이 있다.</p>
                    <p>클래스의 종류는 enter과 leave와 같다.(appear-to/active-class // appear/after-appear/appear-cancelled)</p>
                </div>
            </transition>
        </div>

        <div id="trans8">
            <transition name="fade" mode="out-in">
                <button v-if="show" @click="show = !show" key="On">
                    Key값을 부여하지 않으면 안의 내용만 바꾸기 때문에 부여해야 한다.
                </button>
                <button v-else @click="show = !show" key="Off">
                    이 구조에서 v-if를 여러 개 사용하여 여러 element를 다룰 수 있다.
                </button>
            </transition>
            <p>
                <transition name="slide-fade" mode="in-out">
                    <button :key="showB" @click="showB = !showB">
                        {{showB ? '이 트랜지션은 in-out모드이다.' : 'out-in mode는 현재 element가 진출하고 새 element가 전입한다. in-out모드는 그의 반대다.'}}
                    </button>
                </transition>
            </p>
            <p>
                <transition name="fade" mode="out-in">
                    <button @click="changeFeel" :key="nowState">
                        {{ nowFeeling }}
                    </button>
                </transition>
            </p>
        </div>

        <div id="trans9">
            <input type="radio" id="first" value="comp-a" v-model="display">
            <label for="first">First</label>
            <input type="radio" id="second" value="comp-b" v-model="display">
            <label for="second">Second</label>
            <transition name="comp-fade" mode="out-in">
                <component :is="display"></component>
            </transition>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

        <div id="trans10">
            <button @click="add">추가</button>
            <button @click="remove">제거</button>
            <button @click="shuffle">섞기</button>
            <!-- 렌더링하고자 하는 항목의 목록이 있을 경우 transition-group을 이용한다.-->
            <!--
                    1. transition 태그와 달리 span을 렌더링 한다. tag 속성으로 렌더링 요소를 변경한다.(tag="ul"으로 하고 li 태그를 넣어도 된다.)
                    2. element 내부 구현이 항상 필요하다.
            -->
            <transition-group name="list" tag="p">
                <span v-for="item in items" :key="item" class="list-item">
                    {{ item }}
                </span>
            </transition-group>

            <button @click="shuffleOrder">섞기</button>
            <transition-group name="listbox" tag="p">
                <span v-for="number in order" :key="number" class="listbox-item">
                    {{number}}
                </span>
            </transition-group>
        </div>

        <div id="trans11">
            <input type="text" v-model="searchQuery">
            <staggered-fade
                    :search-query="searchQuery"
                    :list="list"
            >
            </staggered-fade>
        </div>

        <div id="trans12">
            Fade In: <input type="range" v-model="fadeInDuration" min="0" v-bind:max="maxFadeDuration">
            Fade Out: <input type="range" v-model="fadeOutDuration" min="0" v-bind:max="maxFadeDuration">
            <transition
                    :css="false"
                    @before-enter="beforeEnter"
                    @enter="enter"
                    @leave="leave"
            >
                <p v-if="show">hell</p>
            </transition>
            <button
                    v-if="stop"
                    @click="stop = false; show = false"
            >시작</button>
            <button
                    v-else
                    @click="stop = true"
            >멈춤</button>
        </div>
    </div>
    <a href="transcondition.html">다음</a>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./totransition.js"></script>
</body>
</html>